body{
    /* background-color: #222225; */
    background-color: #8b26b2;
    right: 221px;
    color: white;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #67009a;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
ul {
    list-style: none;
  }
  .nav-bar a{
    text-decoration: none;
    color: gold;
    /* color: rgb(253, 253, 253); */
    font: 25px sans-serif;
    padding: 34px;
    line-height: 1.4;
  }
  .nav-list{
    display:  flex;
    margin: 2rem;
    
  }
  li{
    display: list-item;
  }
  ul{
    list-style: none;
  }
  

  .welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 53px;

  }
  .projects{
    color: e6e0ec;
    /* background-color: purple; */
    background-color: #f9f;
    width: 100%;
    height: 100vh;
    box-sizing: initial;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
  }
  .project-grid{
    height: 50%;
    width: 200vh;
    display: flex;
    margin: auto 15px auto 6px;
    border-radius: 10px;
  }
  .projects h2{
    border-bottom:0.2rem solid;
    left: 10;
    max-width: 640px;
    font-size: 41px;
    text-align: center;
    margin: 0 auto 6rem auto;
    font-family: Raleway ,sans-serif;
    font-weight: 700;
    padding-top: 21px;
  }
  .cont1{
    font: italic 1.2em "Fira Sans", serif;
    color:#1f1f1f;
    display: inline-block;
    height: 374px;
    width: 160em;
    /* background-color: #f9f; */
    background-color: #c5ed6a;
    margin: 38px 10px 10px 60px;
    border-radius: 10px;
  }
  .cont2{
    font: italic 1.2em "Fira Sans", serif;
    color:#1f1f1f;
    display:  inline-block;
    height: 374px;
    width: 160em;
    background-color: #c5ed6a;
    margin: 38px 10px 10px 60px;
    border-radius: 10px;
  }
  .cont3{
    font: italic 1.2em "Fira Sans", serif;
    color:#1f1f1f;
    display: block;
    height: 374px;
    width: 160em;
    background-color: #c5ed6a;
    margin: 38px 56px 10px 60px;
    border-radius: 10px;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
    font-size: 24px;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: auto 4rem;
    flex-wrap: wrap;
  
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }